/*  48px */
/*  30px */
/*  24px */
/* 18px */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #F0EEEE;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
}

.main-grid {
  margin: 1rem auto;
  margin-top: 0;
  max-width: 1600px;
}

img {
  max-width: 100%;
}

.company_name {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-top: 1.6rem;
  margin-bottom: 0.9rem;
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 1.1em;
  position: relative;
  transition: 540ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.company_name > div {
  margin: auto;
}
.company_name .sub {
  display: flex;
  align-items: center;
}
.company_name__sport {
  width: 10px;
  height: 10px;
  background-color: #000;
  display: inline-block;
  margin: auto 0.6rem;
  position: relative;
  top: 2px;
  border-radius: 50%;
}

.header {
  font-family: "Sansita", sans-serif;
  background-color: #F0EEEE;
  padding-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(3rem, 4rem) 1fr 2fr minmax(3rem, 4rem);
  z-index: 2;
}
.header .logo {
  padding-left: 0.8rem;
}
.header .company_name {
  grid-row: 2;
  grid-column: span 5;
}
.header .company_name::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: -0.9rem;
}
.header .nav__icon {
  grid-column: -1;
  padding: 0.3rem 0.2rem;
  width: 72px;
}
.header .nav__icon svg {
  display: block;
}
.header .nav__icon svg:not(:first-child) {
  margin-top: 0.8rem;
}

@media (min-width: 475px) {
  .header {
    position: relative;
    padding-left: 0.8rem;
  }
  .header::after {
    content: "";
    width: calc(100vw);
    height: 3px;
    background-color: #000;
    position: absolute;
    bottom: 1.2rem;
    left: -2vw;
  }
  .header .company_name {
    grid-row: 1;
    grid-column: 2/5;
    margin-bottom: 2.5rem;
    margin-top: 0;
    max-width: 290px;
  }
  .header .company_name::before {
    display: none;
  }
}
@media (min-width: 780px) {
  .header {
    position: unset;
  }
  .header::after {
    width: calc(100vw);
    left: 0;
    right: 0;
    top: 89px;
  }
}
.nav {
  font-family: "Sansita", sans-serif;
  font-size: 1.2rem;
  height: fit-content;
}
.nav, .nav__info {
  display: none;
}
.nav li {
  list-style: none;
}
.nav li a {
  text-decoration: none;
  color: #000;
  opacity: 0.6;
}
.nav .nav__links {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.nav .nav__links .nav__item {
  position: relative;
  padding: 0.5rem 1rem;
  min-width: max-content;
}
.nav .nav__links .nav__item svg {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.nav .nav__links .nav__item rect {
  fill: none;
  stroke: inherit;
  stroke-width: 2;
  stroke-dasharray: 22, 69;
  transition: all 0.75s linear;
}
.nav .active.nav__link {
  opacity: 1;
}
.nav .active.nav__link + svg rect,
.nav .nav__link:hover + svg rect {
  stroke: #F89595;
  stroke-width: 7px;
  stroke-dashoffset: 48;
  transition: all 1.55s cubic-bezier(0.19, 1, 0.22, 1);
}
.nav .active.nav__link-home + svg rect,
.nav .nav__link-home:hover + svg rect {
  stroke-dasharray: 35, 155;
}
.nav .active.nav__link-about + svg rect,
.nav .nav__link-about:hover + svg rect {
  stroke-dasharray: 40, 181;
}
.nav .active.nav__link-services + svg rect,
.nav .nav__link-services:hover + svg rect {
  stroke-dasharray: 40, 175;
}

@media (min-width: 830px) {
  .nav {
    grid-row: 1;
    grid-column: 3/5;
    display: inline;
    z-index: 1;
  }
}
@media (min-width: 1038px) {
  .header .nav ul.nav__links {
    gap: 5rem;
  }
}
footer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: minmax(3rem, 4rem) 1fr 2fr minmax(3rem, 4rem);
}
footer:after {
  content: "";
  width: 100%;
  height: 140px;
  background: #373737;
  position: relative;
  left: 0;
  right: 0;
  z-index: -1;
  grid-column: 1/-1;
  grid-row: 1;
}
footer .footer__info {
  grid-column: 1/-1;
  grid-row: 1;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  width: -webkit-fill-available;
  height: 115px;
  margin: 0px 2rem;
  padding: 0;
  background: #C4C4C4;
  border-radius: 0 0 20px 20px;
  align-items: baseline;
  justify-items: center;
}
footer .footer__info li {
  list-style-type: none;
  width: min-content;
  text-align: center;
  height: 100px;
}
footer .footer__info li div {
  font-weight: 900;
}

@media (max-width: 525px) {
  footer .nav, footer .company_name,
footer .copyright {
    display: none;
  }
}
@media (min-width: 525px) {
  footer {
    grid-template-columns: 0.5fr 1fr 3fr 1fr 0.5fr;
    grid-template-rows: 80px 125px 80px 125px 20px;
    background-color: white;
    padding-bottom: 3rem;
  }
  footer::after {
    height: 81px;
    z-index: 2;
  }
  footer .company_name,
footer .footer__info,
footer .copyright {
    display: flex;
    grid-column: 3;
  }
  footer .nav {
    grid-column: 2/5;
    grid-row: 2;
    display: inline;
    position: relative;
    padding: 20px 0;
    z-index: 2;
  }
  footer .nav::after {
    content: "";
    border-bottom: 2px solid;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  footer .nav .nav__links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-content: flex-end;
  }
  footer .company_name {
    font-family: "Sansita", sans-serif;
    grid-row: 3;
    margin-top: 0;
    align-self: flex-start;
  }
  footer .footer__info {
    grid-column: 2/5;
    grid-row: 4;
    background-color: inherit;
    justify-items: center;
    align-items: baseline;
  }
  footer .copyright {
    grid-row: 5;
    justify-self: center;
  }
}
@media (min-width: 830px) {
  .footer__info {
    grid-column: 3 !important;
  }
}
.slider {
  position: relative;
}
.slider .image--wraper {
  background-size: cover;
  width: 100%;
  height: 444px;
  display: inline-block;
  background-position: bottom;
  box-shadow: -3px 5px 16px 3px #00000087;
}
.slider .slider__text {
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1.5rem;
}

form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
form legend {
  font-family: "Sansita", sans-serif;
  font-size: 2.62rem;
  text-align: center;
}
form legend span {
  position: relative;
}
form legend span::after {
  content: "";
  width: calc(100% - 2ch);
  height: 2px;
  position: absolute;
  background: #9e9e9e;
  bottom: -0.1em;
  left: 1ch;
  border: 2px solid #9e9e9e;
  border-radius: 10px;
}
form .form-group {
  margin: 0 15px;
}
form .mat-div {
  font-family: "Saira Condensed", sans-serif;
  display: flex;
  height: 47px;
  margin-top: 2.3rem;
  background-color: rgba(196, 196, 196, 0.33);
}
form .mat-div .mat-label {
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.7;
  pointer-events: none;
  position: absolute;
  transform: translate3d(0, 12px, 0) scale(1);
  transform-origin: left top;
  transition: 240ms;
  padding-left: 2px;
}
form .mat-div .mat-input {
  align-self: flex-end;
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 2px 2px;
  font-size: 1.5rem;
  border-bottom: 5px solid #151515;
  font-family: "Saira Condensed", sans-serif;
}
form .mat-div .mat-input::-webkit-input-placeholder {
  color: transparent;
  transition: 240ms;
}
form .mat-div .mat-input:valid + label, form .mat-div .mat-input:focus + label {
  opacity: 1;
  transform: translate3d(0, -32px, 0) scale(0.9);
  font-weight: 800;
}

/*  Thanks to https://codepen.io/MithunPradhan/pen/ayLpob?editors=0100
for mat design
*/
button.btn {
  font-family: "Saira Condensed", sans-serif;
  letter-spacing: 3px;
  font-weight: 500;
  padding: 0.6rem 5rem;
  width: fit-content;
  background-color: transparent;
}
button.btn.btn-outline-primary {
  margin: 49px auto;
  border: 4px solid black;
  font-size: 1.2rem;
  transition: 240ms cubic-bezier(0.14, 0.81, 0.25, 1);
}
button.btn.btn-outline-primary:hover, button.btn.btn-outline-primary:focus {
  font-weight: 600;
  color: #F0EEEE;
  background-color: #000;
  border: 4px solid #ffffff45;
  outline: 3px solid #d4d4d442;
  outline-offset: -12px;
}

@media (min-width: 525px) {
  .home .slider .image--wraper {
    max-height: 460px;
  }
}
@media (min-width: 780px) {
  .home {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
  }
  .home .slider .image--wraper {
    height: 500px;
  }

  form {
    margin: 0 auto;
    min-width: 333px;
  }
}

/*# sourceMappingURL=home.css.map */
