@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/*  48px */
/*  30px */
/*  24px */
/* 18px */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #F0EEEE;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
}

.main-grid {
  margin: 1rem auto;
  margin-top: 0;
  max-width: 1600px;
}

img {
  max-width: 100%;
}

.company_name {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-top: 1.6rem;
  margin-bottom: 0.9rem;
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 1.1em;
  position: relative;
  transition: 540ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.company_name > div {
  margin: auto;
}
.company_name .sub {
  display: flex;
  align-items: center;
}
.company_name__sport {
  width: 10px;
  height: 10px;
  background-color: #000;
  display: inline-block;
  margin: auto 0.6rem;
  position: relative;
  top: 2px;
  border-radius: 50%;
}

.header {
  font-family: "Sansita", sans-serif;
  background-color: #F0EEEE;
  padding-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(3rem, 4rem) 1fr 2fr minmax(3rem, 4rem);
  z-index: 2;
}
.header .logo {
  padding-left: 0.8rem;
}
.header .company_name {
  grid-row: 2;
  grid-column: span 5;
}
.header .company_name::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: -0.9rem;
}
.header .nav__icon {
  grid-column: -1;
  padding: 0.3rem 0.2rem;
  width: 72px;
}
.header .nav__icon svg {
  display: block;
}
.header .nav__icon svg:not(:first-child) {
  margin-top: 0.8rem;
}

@media (min-width: 475px) {
  .header {
    position: relative;
    padding-left: 0.8rem;
  }
  .header::after {
    content: "";
    width: calc(100vw);
    height: 3px;
    background-color: #000;
    position: absolute;
    bottom: 1.2rem;
    left: -2vw;
  }
  .header .company_name {
    grid-row: 1;
    grid-column: 2/5;
    margin-bottom: 2.5rem;
    margin-top: 0;
    max-width: 290px;
  }
  .header .company_name::before {
    display: none;
  }
}
@media (min-width: 780px) {
  .header {
    position: unset;
  }
  .header::after {
    width: calc(100vw);
    left: 0;
    right: 0;
    top: 89px;
  }
}
.nav {
  font-family: "Sansita", sans-serif;
  font-size: 1.2rem;
  height: fit-content;
}
.nav, .nav__info {
  display: none;
}
.nav li {
  list-style: none;
}
.nav li a {
  text-decoration: none;
  color: #000;
  opacity: 0.6;
}
.nav .nav__links {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.nav .nav__links .nav__item {
  position: relative;
  padding: 0.5rem 1rem;
  min-width: max-content;
}
.nav .nav__links .nav__item svg {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.nav .nav__links .nav__item rect {
  fill: none;
  stroke: inherit;
  stroke-width: 2;
  stroke-dasharray: 22, 69;
  transition: all 0.75s linear;
}
.nav .active.nav__link {
  opacity: 1;
}
.nav .active.nav__link + svg rect,
.nav .nav__link:hover + svg rect {
  stroke: #F89595;
  stroke-width: 7px;
  stroke-dashoffset: 48;
  transition: all 1.55s cubic-bezier(0.19, 1, 0.22, 1);
}
.nav .active.nav__link-home + svg rect,
.nav .nav__link-home:hover + svg rect {
  stroke-dasharray: 35, 155;
}
.nav .active.nav__link-about + svg rect,
.nav .nav__link-about:hover + svg rect {
  stroke-dasharray: 40, 181;
}
.nav .active.nav__link-services + svg rect,
.nav .nav__link-services:hover + svg rect {
  stroke-dasharray: 40, 175;
}

@media (min-width: 830px) {
  .nav {
    grid-row: 1;
    grid-column: 3/5;
    display: inline;
    z-index: 1;
  }
}
@media (min-width: 1038px) {
  .header .nav ul.nav__links {
    gap: 5rem;
  }
}
footer {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: minmax(3rem, 4rem) 1fr 2fr minmax(3rem, 4rem);
}
footer:after {
  content: "";
  width: 100%;
  height: 140px;
  background: #373737;
  position: relative;
  left: 0;
  right: 0;
  z-index: -1;
  grid-column: 1/-1;
  grid-row: 1;
}
footer .footer__info {
  grid-column: 1/-1;
  grid-row: 1;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  width: -webkit-fill-available;
  height: 115px;
  margin: 0px 2rem;
  padding: 0;
  background: #C4C4C4;
  border-radius: 0 0 20px 20px;
  align-items: baseline;
  justify-items: center;
}
footer .footer__info li {
  list-style-type: none;
  width: min-content;
  text-align: center;
  height: 100px;
}
footer .footer__info li div {
  font-weight: 900;
}

@media (max-width: 525px) {
  footer .nav, footer .company_name,
footer .copyright {
    display: none;
  }
}
@media (min-width: 525px) {
  footer {
    grid-template-columns: 0.5fr 1fr 3fr 1fr 0.5fr;
    grid-template-rows: 80px 125px 80px 125px 20px;
    background-color: white;
    padding-bottom: 3rem;
  }
  footer::after {
    height: 81px;
    z-index: 2;
  }
  footer .company_name,
footer .footer__info,
footer .copyright {
    display: flex;
    grid-column: 3;
  }
  footer .nav {
    grid-column: 2/5;
    grid-row: 2;
    display: inline;
    position: relative;
    padding: 20px 0;
    z-index: 2;
  }
  footer .nav::after {
    content: "";
    border-bottom: 2px solid;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  footer .nav .nav__links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-content: flex-end;
  }
  footer .company_name {
    font-family: "Sansita", sans-serif;
    grid-row: 3;
    margin-top: 0;
    align-self: flex-start;
  }
  footer .footer__info {
    grid-column: 2/5;
    grid-row: 4;
    background-color: inherit;
    justify-items: center;
    align-items: baseline;
  }
  footer .copyright {
    grid-row: 5;
    justify-self: center;
  }
}
@media (min-width: 830px) {
  .footer__info {
    grid-column: 3 !important;
  }
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
}

.main-grid {
  display: ralative;
}
.main-grid .more {
  color: white;
  font-size: 40px;
  text-align: center;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  background: #111;
  color: #fff;
}

a.switcher {
  display: block;
  position: absolute;
  text-decoration: none;
  z-index: 999999999999;
  right: 20px;
  bottom: 20px;
  width: 86px;
  height: 56px;
  background: transparent;
  border: 7px solid #fff;
  border-radius: 50%;
  opacity: 0.15;
  transition: opacity 0.15s;
  top: 25%;
  right: 15%;
}

a.switcher:hover {
  opacity: 1;
}

a.switcher:before {
  display: block;
  content: "";
  position: absolute;
  border-radius: 4px;
  width: 12px;
  height: 25px;
  background: #fff;
  top: 0;
  left: 29px;
}

.screen {
  position: relative;
  z-index: 1;
  widht: 100%;
  height: 46%;
  overflow: hidden;
}

.figure {
  display: block;
  position: absolute;
  z-index: 1;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-top: 200px solid #fff;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  border-bottom: 0 solid transparent;
}

.figure:before {
  display: block;
  content: "";
  position: absolute;
  z-index: 99;
  width: 0;
  height: 0;
  top: -194px;
  left: -90px;
  margin: auto;
  border-top: 180px solid #111;
  border-right: 90px solid transparent;
  border-left: 90px solid transparent;
  border-bottom: 0 solid transparent;
}

.figure-mask {
  display: block;
  position: absolute;
  z-index: 99;
  width: 0;
  height: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-top: 200px solid transparent;
  border-right: 100px solid #111;
  border-left: 100px solid #111;
  border-bottom: 0 solid transparent;
}

.clock {
  display: block;
  position: absolute;
  z-index: 9;
  width: 90vw;
  height: 128px;
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: default;
}

.clock span {
  display: block;
  position: relative;
  font-size: 3em;
  line-height: 1;
  left: -70px;
}

.clock.is-off {
  -webkit-animation: is-off 2s linear infinite !important;
  animation: is-off 2s linear infinite !important;
}

.glitch:before {
  position: absolute;
  z-index: 999999;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: bg-move 2s linear infinite;
  animation: bg-move 2s linear infinite;
  background-size: 100% 8px;
  background-image: linear-gradient(0, rgba(255, 255, 255, 0.05) 10%, transparent 10%, transparent 50%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0.05) 60%, transparent 60%, transparent);
}

.glitch .figure,
.glitch .figure-mask {
  transform: skewX(0deg) scaleY(1);
  -webkit-animation: tr-bag 4s linear infinite;
  animation: tr-bag 4s linear infinite;
}

.glitch .clock {
  transform: skewX(0deg) scaleY(1);
  -webkit-animation: clock-bag 4s linear infinite;
  animation: clock-bag 4s linear infinite;
}

.glitch .clock span:before,
.glitch .clock span:after {
  display: block;
  content: attr(data-time);
  position: absolute;
  top: 0;
  color: #fff;
  background: #111;
  overflow: hidden;
  width: 720px;
  height: 128px;
  clip: rect(0, 900px, 0, 0);
}

.glitch .clock span:before {
  left: -2px;
  text-shadow: 2px 0 #00f;
  animation: c2 1s infinite linear alternate-reverse;
}

.glitch .clock span:after {
  left: 3px;
  text-shadow: -2px 0 #f00;
  animation: c1 2s infinite linear alternate-reverse;
}

@-webkit-keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    transform: scaleY(1) skewX(0deg);
  }
  72% {
    transform: scaleY(3) skewX(-60deg);
  }
  73% {
    transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
  }
  93% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}
@keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    transform: scaleY(1) skewX(0deg);
  }
  72% {
    transform: scaleY(3) skewX(-60deg);
  }
  73% {
    transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
  }
  93% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}
@-webkit-keyframes c1 {
  0% {
    clip: rect(24px, 9999px, 30px, 0);
  }
  5% {
    clip: rect(24px, 9999px, 50px, 0);
  }
  10% {
    clip: rect(46px, 9999px, 86px, 0);
  }
  15.000000000000002% {
    clip: rect(37px, 9999px, 75px, 0);
  }
  20% {
    clip: rect(24px, 9999px, 12px, 0);
  }
  25% {
    clip: rect(17px, 9999px, 5px, 0);
  }
  30.000000000000004% {
    clip: rect(91px, 9999px, 97px, 0);
  }
  35.00000000000001% {
    clip: rect(70px, 9999px, 32px, 0);
  }
  40% {
    clip: rect(46px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(48px, 9999px, 3px, 0);
  }
  50% {
    clip: rect(79px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(94px, 9999px, 82px, 0);
  }
  60.00000000000001% {
    clip: rect(65px, 9999px, 7px, 0);
  }
  65% {
    clip: rect(21px, 9999px, 64px, 0);
  }
  70.00000000000001% {
    clip: rect(88px, 9999px, 51px, 0);
  }
  75% {
    clip: rect(73px, 9999px, 79px, 0);
  }
  80% {
    clip: rect(100px, 9999px, 49px, 0);
  }
  85% {
    clip: rect(73px, 9999px, 48px, 0);
  }
  90% {
    clip: rect(11px, 9999px, 23px, 0);
  }
  95% {
    clip: rect(21px, 9999px, 43px, 0);
  }
  100% {
    clip: rect(71px, 9999px, 18px, 0);
  }
}
@keyframes c1 {
  0% {
    clip: rect(24px, 9999px, 30px, 0);
  }
  5% {
    clip: rect(24px, 9999px, 50px, 0);
  }
  10% {
    clip: rect(46px, 9999px, 86px, 0);
  }
  15.000000000000002% {
    clip: rect(37px, 9999px, 75px, 0);
  }
  20% {
    clip: rect(24px, 9999px, 12px, 0);
  }
  25% {
    clip: rect(17px, 9999px, 5px, 0);
  }
  30.000000000000004% {
    clip: rect(91px, 9999px, 97px, 0);
  }
  35.00000000000001% {
    clip: rect(70px, 9999px, 32px, 0);
  }
  40% {
    clip: rect(46px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(48px, 9999px, 3px, 0);
  }
  50% {
    clip: rect(79px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(94px, 9999px, 82px, 0);
  }
  60.00000000000001% {
    clip: rect(65px, 9999px, 7px, 0);
  }
  65% {
    clip: rect(21px, 9999px, 64px, 0);
  }
  70.00000000000001% {
    clip: rect(88px, 9999px, 51px, 0);
  }
  75% {
    clip: rect(73px, 9999px, 79px, 0);
  }
  80% {
    clip: rect(100px, 9999px, 49px, 0);
  }
  85% {
    clip: rect(73px, 9999px, 48px, 0);
  }
  90% {
    clip: rect(11px, 9999px, 23px, 0);
  }
  95% {
    clip: rect(21px, 9999px, 43px, 0);
  }
  100% {
    clip: rect(71px, 9999px, 18px, 0);
  }
}
@-webkit-keyframes c2 {
  0% {
    clip: rect(79px, 9999px, 1px, 0);
  }
  5% {
    clip: rect(6px, 9999px, 33px, 0);
  }
  10% {
    clip: rect(10px, 9999px, 38px, 0);
  }
  15.000000000000002% {
    clip: rect(63px, 9999px, 52px, 0);
  }
  20% {
    clip: rect(98px, 9999px, 48px, 0);
  }
  25% {
    clip: rect(78px, 9999px, 70px, 0);
  }
  30.000000000000004% {
    clip: rect(22px, 9999px, 70px, 0);
  }
  35.00000000000001% {
    clip: rect(19px, 9999px, 69px, 0);
  }
  40% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  45% {
    clip: rect(21px, 9999px, 87px, 0);
  }
  50% {
    clip: rect(19px, 9999px, 2px, 0);
  }
  55% {
    clip: rect(9px, 9999px, 56px, 0);
  }
  60.00000000000001% {
    clip: rect(48px, 9999px, 6px, 0);
  }
  65% {
    clip: rect(60px, 9999px, 83px, 0);
  }
  70.00000000000001% {
    clip: rect(21px, 9999px, 68px, 0);
  }
  75% {
    clip: rect(52px, 9999px, 85px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 4px, 0);
  }
  85% {
    clip: rect(89px, 9999px, 58px, 0);
  }
  90% {
    clip: rect(94px, 9999px, 36px, 0);
  }
  95% {
    clip: rect(70px, 9999px, 21px, 0);
  }
  100% {
    clip: rect(19px, 9999px, 73px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
}
@keyframes c2 {
  0% {
    clip: rect(79px, 9999px, 1px, 0);
  }
  5% {
    clip: rect(6px, 9999px, 33px, 0);
  }
  10% {
    clip: rect(10px, 9999px, 38px, 0);
  }
  15.000000000000002% {
    clip: rect(63px, 9999px, 52px, 0);
  }
  20% {
    clip: rect(98px, 9999px, 48px, 0);
  }
  25% {
    clip: rect(78px, 9999px, 70px, 0);
  }
  30.000000000000004% {
    clip: rect(22px, 9999px, 70px, 0);
  }
  35.00000000000001% {
    clip: rect(19px, 9999px, 69px, 0);
  }
  40% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  45% {
    clip: rect(21px, 9999px, 87px, 0);
  }
  50% {
    clip: rect(19px, 9999px, 2px, 0);
  }
  55% {
    clip: rect(9px, 9999px, 56px, 0);
  }
  60.00000000000001% {
    clip: rect(48px, 9999px, 6px, 0);
  }
  65% {
    clip: rect(60px, 9999px, 83px, 0);
  }
  70.00000000000001% {
    clip: rect(21px, 9999px, 68px, 0);
  }
  75% {
    clip: rect(52px, 9999px, 85px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 4px, 0);
  }
  85% {
    clip: rect(89px, 9999px, 58px, 0);
  }
  90% {
    clip: rect(94px, 9999px, 36px, 0);
  }
  95% {
    clip: rect(70px, 9999px, 21px, 0);
  }
  100% {
    clip: rect(19px, 9999px, 73px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
}
@-webkit-keyframes clock-bag {
  0% {
    transform: translate(1px, 5px);
  }
  2% {
    transform: translate(3px, 3px);
  }
  4% {
    transform: translate(4px, 5px);
  }
  6% {
    transform: translate(1px, 3px);
  }
  8% {
    transform: translate(4px, 4px);
  }
  10% {
    transform: translate(2px, 2px);
  }
  12% {
    transform: translate(3px, 2px);
  }
  14.000000000000002% {
    transform: translate(3px, 4px);
  }
  16% {
    transform: translate(1px, 2px);
  }
  18% {
    transform: translate(5px, 4px);
  }
  20% {
    transform: translate(3px, 3px);
  }
  22% {
    transform: translate(4px, 3px);
  }
  24% {
    transform: translate(2px, 1px);
  }
  26% {
    transform: translate(5px, 5px);
  }
  28.000000000000004% {
    transform: translate(4px, 3px);
  }
  30% {
    transform: translate(1px, 4px);
  }
  32% {
    transform: translate(2px, 3px);
  }
  34% {
    transform: translate(1px, 1px);
  }
  36% {
    transform: translate(3px, 5px);
  }
  38% {
    transform: translate(1px, 1px);
  }
  40% {
    transform: translate(3px, 2px);
  }
  42% {
    transform: translate(3px, 4px);
  }
  44% {
    transform: translate(1px, 5px);
  }
  46.00000000000001% {
    transform: translate(2px, 2px);
  }
  48% {
    transform: translate(2px, 1px);
  }
  50% {
    transform: translate(4px, 1px);
  }
  52% {
    transform: translate(1px, 2px);
  }
  54% {
    transform: translate(2px, 2px);
  }
  56.00000000000001% {
    transform: translate(2px, 1px);
  }
  58% {
    transform: translate(2px, 3px);
  }
  60% {
    transform: translate(2px, 1px);
  }
  62% {
    transform: translate(4px, 2px);
  }
  64% {
    transform: translate(1px, 5px);
  }
  66% {
    transform: translate(3px, 4px);
  }
  68% {
    transform: translate(1px, 2px);
  }
  70.00000000000001% {
    transform: translate(4px, 1px);
  }
  72% {
    transform: translate(4px, 2px);
  }
  74% {
    transform: translate(2px, 2px);
  }
  76% {
    transform: translate(3px, 4px);
  }
  78% {
    transform: translate(1px, 4px);
  }
  80% {
    transform: translate(5px, 4px);
  }
  82.00000000000001% {
    transform: translate(1px, 1px);
  }
  84% {
    transform: translate(4px, 2px);
  }
  86% {
    transform: translate(5px, 4px);
  }
  88% {
    transform: translate(3px, 4px);
  }
  90% {
    transform: translate(1px, 3px);
  }
  92.00000000000001% {
    transform: translate(4px, 4px);
  }
  94% {
    transform: translate(1px, 1px);
  }
  96% {
    transform: translate(5px, 1px);
  }
  98% {
    transform: translate(2px, 1px);
  }
  100% {
    transform: translate(5px, 2px);
  }
  1% {
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes clock-bag {
  0% {
    transform: translate(1px, 5px);
  }
  2% {
    transform: translate(3px, 3px);
  }
  4% {
    transform: translate(4px, 5px);
  }
  6% {
    transform: translate(1px, 3px);
  }
  8% {
    transform: translate(4px, 4px);
  }
  10% {
    transform: translate(2px, 2px);
  }
  12% {
    transform: translate(3px, 2px);
  }
  14.000000000000002% {
    transform: translate(3px, 4px);
  }
  16% {
    transform: translate(1px, 2px);
  }
  18% {
    transform: translate(5px, 4px);
  }
  20% {
    transform: translate(3px, 3px);
  }
  22% {
    transform: translate(4px, 3px);
  }
  24% {
    transform: translate(2px, 1px);
  }
  26% {
    transform: translate(5px, 5px);
  }
  28.000000000000004% {
    transform: translate(4px, 3px);
  }
  30% {
    transform: translate(1px, 4px);
  }
  32% {
    transform: translate(2px, 3px);
  }
  34% {
    transform: translate(1px, 1px);
  }
  36% {
    transform: translate(3px, 5px);
  }
  38% {
    transform: translate(1px, 1px);
  }
  40% {
    transform: translate(3px, 2px);
  }
  42% {
    transform: translate(3px, 4px);
  }
  44% {
    transform: translate(1px, 5px);
  }
  46.00000000000001% {
    transform: translate(2px, 2px);
  }
  48% {
    transform: translate(2px, 1px);
  }
  50% {
    transform: translate(4px, 1px);
  }
  52% {
    transform: translate(1px, 2px);
  }
  54% {
    transform: translate(2px, 2px);
  }
  56.00000000000001% {
    transform: translate(2px, 1px);
  }
  58% {
    transform: translate(2px, 3px);
  }
  60% {
    transform: translate(2px, 1px);
  }
  62% {
    transform: translate(4px, 2px);
  }
  64% {
    transform: translate(1px, 5px);
  }
  66% {
    transform: translate(3px, 4px);
  }
  68% {
    transform: translate(1px, 2px);
  }
  70.00000000000001% {
    transform: translate(4px, 1px);
  }
  72% {
    transform: translate(4px, 2px);
  }
  74% {
    transform: translate(2px, 2px);
  }
  76% {
    transform: translate(3px, 4px);
  }
  78% {
    transform: translate(1px, 4px);
  }
  80% {
    transform: translate(5px, 4px);
  }
  82.00000000000001% {
    transform: translate(1px, 1px);
  }
  84% {
    transform: translate(4px, 2px);
  }
  86% {
    transform: translate(5px, 4px);
  }
  88% {
    transform: translate(3px, 4px);
  }
  90% {
    transform: translate(1px, 3px);
  }
  92.00000000000001% {
    transform: translate(4px, 4px);
  }
  94% {
    transform: translate(1px, 1px);
  }
  96% {
    transform: translate(5px, 1px);
  }
  98% {
    transform: translate(2px, 1px);
  }
  100% {
    transform: translate(5px, 2px);
  }
  1% {
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@-webkit-keyframes tr-bag {
  0% {
    transform: translate(2px, 1px);
  }
  2% {
    transform: translate(3px, 5px);
  }
  4% {
    transform: translate(5px, 4px);
  }
  6% {
    transform: translate(5px, 4px);
  }
  8% {
    transform: translate(1px, 2px);
  }
  10% {
    transform: translate(1px, 5px);
  }
  12% {
    transform: translate(1px, 2px);
  }
  14.000000000000002% {
    transform: translate(4px, 2px);
  }
  16% {
    transform: translate(3px, 3px);
  }
  18% {
    transform: translate(2px, 3px);
  }
  20% {
    transform: translate(4px, 1px);
  }
  22% {
    transform: translate(4px, 4px);
  }
  24% {
    transform: translate(1px, 4px);
  }
  26% {
    transform: translate(2px, 1px);
  }
  28.000000000000004% {
    transform: translate(1px, 1px);
  }
  30% {
    transform: translate(3px, 2px);
  }
  32% {
    transform: translate(3px, 5px);
  }
  34% {
    transform: translate(1px, 2px);
  }
  36% {
    transform: translate(5px, 4px);
  }
  38% {
    transform: translate(2px, 5px);
  }
  40% {
    transform: translate(3px, 3px);
  }
  42% {
    transform: translate(1px, 3px);
  }
  44% {
    transform: translate(4px, 3px);
  }
  46.00000000000001% {
    transform: translate(3px, 3px);
  }
  48% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(1px, 5px);
  }
  52% {
    transform: translate(5px, 5px);
  }
  54% {
    transform: translate(5px, 3px);
  }
  56.00000000000001% {
    transform: translate(4px, 1px);
  }
  58% {
    transform: translate(4px, 5px);
  }
  60% {
    transform: translate(3px, 3px);
  }
  62% {
    transform: translate(4px, 4px);
  }
  64% {
    transform: translate(5px, 1px);
  }
  66% {
    transform: translate(5px, 5px);
  }
  68% {
    transform: translate(1px, 2px);
  }
  70.00000000000001% {
    transform: translate(4px, 1px);
  }
  72% {
    transform: translate(5px, 4px);
  }
  74% {
    transform: translate(2px, 1px);
  }
  76% {
    transform: translate(2px, 1px);
  }
  78% {
    transform: translate(4px, 4px);
  }
  80% {
    transform: translate(4px, 1px);
  }
  82.00000000000001% {
    transform: translate(1px, 1px);
  }
  84% {
    transform: translate(3px, 4px);
  }
  86% {
    transform: translate(1px, 3px);
  }
  88% {
    transform: translate(2px, 3px);
  }
  90% {
    transform: translate(1px, 3px);
  }
  92.00000000000001% {
    transform: translate(3px, 5px);
  }
  94% {
    transform: translate(2px, 1px);
  }
  96% {
    transform: translate(1px, 3px);
  }
  98% {
    transform: translate(3px, 2px);
  }
  100% {
    transform: translate(3px, 4px);
  }
  1% {
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes tr-bag {
  0% {
    transform: translate(2px, 1px);
  }
  2% {
    transform: translate(3px, 5px);
  }
  4% {
    transform: translate(5px, 4px);
  }
  6% {
    transform: translate(5px, 4px);
  }
  8% {
    transform: translate(1px, 2px);
  }
  10% {
    transform: translate(1px, 5px);
  }
  12% {
    transform: translate(1px, 2px);
  }
  14.000000000000002% {
    transform: translate(4px, 2px);
  }
  16% {
    transform: translate(3px, 3px);
  }
  18% {
    transform: translate(2px, 3px);
  }
  20% {
    transform: translate(4px, 1px);
  }
  22% {
    transform: translate(4px, 4px);
  }
  24% {
    transform: translate(1px, 4px);
  }
  26% {
    transform: translate(2px, 1px);
  }
  28.000000000000004% {
    transform: translate(1px, 1px);
  }
  30% {
    transform: translate(3px, 2px);
  }
  32% {
    transform: translate(3px, 5px);
  }
  34% {
    transform: translate(1px, 2px);
  }
  36% {
    transform: translate(5px, 4px);
  }
  38% {
    transform: translate(2px, 5px);
  }
  40% {
    transform: translate(3px, 3px);
  }
  42% {
    transform: translate(1px, 3px);
  }
  44% {
    transform: translate(4px, 3px);
  }
  46.00000000000001% {
    transform: translate(3px, 3px);
  }
  48% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(1px, 5px);
  }
  52% {
    transform: translate(5px, 5px);
  }
  54% {
    transform: translate(5px, 3px);
  }
  56.00000000000001% {
    transform: translate(4px, 1px);
  }
  58% {
    transform: translate(4px, 5px);
  }
  60% {
    transform: translate(3px, 3px);
  }
  62% {
    transform: translate(4px, 4px);
  }
  64% {
    transform: translate(5px, 1px);
  }
  66% {
    transform: translate(5px, 5px);
  }
  68% {
    transform: translate(1px, 2px);
  }
  70.00000000000001% {
    transform: translate(4px, 1px);
  }
  72% {
    transform: translate(5px, 4px);
  }
  74% {
    transform: translate(2px, 1px);
  }
  76% {
    transform: translate(2px, 1px);
  }
  78% {
    transform: translate(4px, 4px);
  }
  80% {
    transform: translate(4px, 1px);
  }
  82.00000000000001% {
    transform: translate(1px, 1px);
  }
  84% {
    transform: translate(3px, 4px);
  }
  86% {
    transform: translate(1px, 3px);
  }
  88% {
    transform: translate(2px, 3px);
  }
  90% {
    transform: translate(1px, 3px);
  }
  92.00000000000001% {
    transform: translate(3px, 5px);
  }
  94% {
    transform: translate(2px, 1px);
  }
  96% {
    transform: translate(1px, 3px);
  }
  98% {
    transform: translate(3px, 2px);
  }
  100% {
    transform: translate(3px, 4px);
  }
  1% {
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@-webkit-keyframes bg-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -32px;
  }
}
@keyframes bg-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -32px;
  }
}
.main-grid {
  color: black !important;
}

/*# sourceMappingURL=services.css.map */
