*,
*::after,
*::before {
    box-sizing: border-box;
}


:root {
    --clr-icons: #929292;
    --clr-text: #000;
    --clr-bg-dark: rgb(67 66 66);
    --clr-bg-light: #F0EEEE;
    --clr-slide-shade: rgba(255, 255, 255, 0.6);
    --clr-bg-input: rgba(196, 196, 196, 0.33);
    --clr-highlight: #C4C4C4;
    --clr-accent: #F89595;

    --ff-headers: 'Sansita', sans-serif;
    --ff-body: 'Saira Condensed', sans-serif;
    --ff-date: : 'Rakkas', cursive;

    --fs-big: 2.62rem; /*  48px */
    --fs-mid: 2.2rem; /*  30px */
    --fs-mid: 1.5rem; /*  24px */
    --fs-small: 1.2rem; /* 18px */

    --s-icon: 10px;

    --sx-grid:  minmax(3rem, 4rem) 1fr 2fr minmax(3rem, 4rem);

}

body {
    margin: 0;
    background-color: var(--clr-bg-light);
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
}

.main-grid {
    margin: 1rem auto;
    margin-top: 0;
    max-width: 1600px
}

img {
    max-width: 100%;
}


.header {
    font-family: var(--ff-headers);
    background: var(--clr-bg-light);
    padding-top: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: var(--sx-grid);
    position: sticky;
    top: 0;
    z-index: 2;
}


.company_name {
    grid-row: 2 ;
    grid-column: span 5;

    margin-top: 1.6rem;
    margin-bottom: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size:  var(--fs-mid);
    letter-spacing: 3px;
    line-height: 1.1em;
    position: relative;

    transition: 540ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header .company_name * > {
    margin: auto;
}

.header .company_name::before{
    content: '';
    width: calc(100% + 2rem);
    height: 3px;
    background-color: var(--clr-text);
    position: absolute;
    top: -0.9rem;
    
}


.sub {
    display: flex;
    align-items: center;
    
}

.comapany_name__sport {
    display: inline-block;
    width: var(--s-icon);
    height: var(--s-icon);
    background-color: var(--clr-text);
    border-radius: 50%;
    position: relative;
    top: 2px;
    margin: auto 0.6rem;
}

.header .nav__icon {
    grid-row: 1;
    grid-column: -1;
    padding: 0.3rem 0.2rem;
    height: fit-content;
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav__icon svg{
    display: block;
}

.nav__icon svg:not(:first-child){
    margin-top: 0.8rem;
}


.header .nav,
.header .nav__info {
    display: none;
}






@media (min-width: 475px) {
    .header {
        position: relative;
        padding-left: 0.8rem;
    }
    .header .company_name {
        grid-row: 1 ;
        grid-column: 2 / 5;
    
        margin-bottom: 2.5rem;
        margin-top: 0;
        max-width: 290px;
    }

    .header .company_name::before{
        display: none;
    }

    .header::after {
        content: '';
        width: calc(100vw + 2rem);
        height: 3px;
        background-color: var(--clr-text);
        position: absolute;
        bottom: 1.2rem;
        left: -2vw;
    }
}

@media (min-width: 830px) {
    .header .company_name {
        grid-column: 2 / 3;
    }

    .header .nav {
        grid-column: 3 / 5;
        display: inline;
        font-family: var(--ff-headers);
        font-size: var(--fs-small);
    }

    .nav ul {
        padding: 0;
    }
    .nav li {
        list-style: none;
    }

    .nav li a {
        text-decoration: none;
        color: var(--clr-text);
        opacity: 0.8;
        /* padding: .5rem 1rem; */
    }

    .nav ul.nav__links .nav__item {
        position: relative;
        padding: .5rem 1rem;
        min-width: max-content;
    }

    .nav ul.nav__links .nav__item svg {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0; 
        width: 100%; 
        z-index: -1;
    }
    .nav ul.nav__links .nav__item rect {
        fill: none;
        stroke: var(--clr-bg-light);
        stroke-width: 2;
        stroke-dasharray: 22, 69;
        transition: all 0.75s linear;
    }

    .nav .active.nav__link {
        opacity: 1;
    }

    .nav .active.nav__link + svg rect,
    .nav .nav__link:hover + svg rect {
        stroke: var(--clr-accent);
        stroke-width: 7px;
        stroke-dashoffset: 48;
        transition: all 1.55s cubic-bezier(0.19, 1, 0.22, 1);
    }

    .nav .active.nav__link-home + svg rect,
    .nav .nav__link-home:hover + svg rect {
        stroke-dasharray: 35, 155;
    }

    .nav .active.nav__link-about + svg rect,
    .nav .nav__link-about:hover + svg rect {
        stroke-dasharray: 40, 181;
    }

    .nav .active.nav__link-services + svg rect,
    .nav .nav__link-services:hover + svg rect {
        stroke-dasharray: 40, 175;
    }



    

    .header .nav ul.nav__links {
        display: flex;
        justify-content: flex-end;
        gap: .5rem;
    }


}



@media (min-width: 1038px) {
    .header .nav ul.nav__links {
        gap: 5rem;
    }
}


@media (min-width: 780px) {
    .header::after {
        width: calc(200vw + 2rem);
        left: -50vw;
    }
}
