@use 'components' as *;
@use 'abstracts' as *;

.about {

    &__company {
        font-family: $ff-headers;
        max-width: 950px;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 5rem;
        position: relative;
        &::before {
            content: '';
            background-color: $clr-text;
            width: 80%;
    height: 3px;
    position: absolute;
    top: 0;
    left: 10%;
            border-radius: 10px;
        }

        .icon {
            text-align: center;
            padding-top: 1rem;
            margin-bottom: 2rem;
            // line-height: 1px;
            h3 {
                font-size: $fs-big - 0.6rem;
                line-height: 20px
            }
        }

        .paragraphes {
            max-width: 70ch;
            margin: 0 auto;
            padding: 0 1rem;
            p {
                margin-bottom: 1rem;
                font-size: $fs-small;
            }
        }
    }

    &__time-line {
        background-color: $clr-highlight;
        position: relative;
        padding: 5rem 2rem ;
        display: grid;
        grid-template-columns: .5fr 1.5fr 4px 1.5fr .5fr;
        row-gap: 2em; 

        &::before,
        &:after {
            content: '';
            background-color: $clr-accent;
            position: absolute;
            grid-column: 3;
        }

        // time line 
        &::after {
            width: 30px;
            height: 5px;
            top: -45px;
            left: -12px;
            z-index: 1;
        }
        
        &::before {
            width: 4px;
            height: calc(100% + 35px);
            top: -16px;
            // left: 29;
            z-index: 1;
            border-radius: 10px;
        }

        .card {
            padding: 1rem 1.5rem;
            color: white;
            background-color: $clr-bg-dark;
            position: relative;
            grid-column: 1 / -1;
            z-index: 2;
            
            h4 {
                font-size: $fs-mid;
            }

            &:after {
                content: '';
                position: absolute;
                background-color: $clr-highlight;
                width: 25px;
                height: 25px;
                border: 3px solid $clr-accent;
                border-radius: 50%;
                z-index: 2;

                top: -13px;
                left: calc(50% - 25px/2);
            }

            .date {
                font-size: .8em;
                font-family: $ff-date;
                letter-spacing: 3px;
                color: $clr-text;
                position: absolute;
                top: -27px;
                left: calc(50% - 110px);

                &::after {
                    content: '';
                    background-color: $clr-text;
                    width: 6ch;
                    height: 1px;
                    left: -19px;
                    top: 19px;
                    position: absolute;
                }
            }
        }
        :nth-child(2n - 1) .date {
            left: unset;
            right: calc(50% - 110px);
    
            &::after {
                left: unset;
                right: -19px;
            }
        }
    }
}

@media (min-width: 720px) {
    .about {

        .card {
            grid-column: 2;
            max-width: 470px;
    
            &:nth-child(2n - 1) {
                justify-self: end;
            }
    
            
            &:nth-child(2) {
                grid-row: 2;
                grid-column: 4;
            }
            &:nth-child(3) {
                grid-row: 3;
                
            } 
    
            &:after {
                left: unset;
                top: 20px;
            }
            
            &:nth-child(2n)::after {
                left: -13px; 
            }
            &:nth-child(2n - 1)::after {
                right: -13px;
            }
    
            .date {
                top: 10px;
                left: -116px;
                
                &::after {
                    content: '';
                    background-color: $clr-text;
                    width: 6ch;
                    height: 1px;
                    left: -19px;
                    top: 19px;
                    position: absolute;
                }
            }
            
            
            &:nth-child(2n - 1) .date {
                left: unset;
                right: -120px;

                &::after {
                    left: unset;
                    right: -19px;
                }
            }
        }
    }
    
}