
@use 'components' as *;
@use 'abstracts' as *;

.slider {
    position: relative;
    
    .image--wraper{
        
        background-size: cover;
        width: 100%;
        height: 444px;
        display: inline-block;
        background-position: bottom;
        box-shadow: -3px 5px 16px 3px #00000087;
    }
    
    .slider__text{
        font-family: $ff-body;
        font-size: $fs-mid;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        background-color: $clr-slide-shade;
        padding: 1.5rem;
    }
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    legend {
        font-family: $ff-headers;
        font-size: $fs-big;
        text-align: center;
    }
    
    legend span {
        position: relative;
    }

    legend span::after {
        content: '';
        width: calc(100% - 2ch);
        height: 2px;
        position: absolute;
        background: #9e9e9e;
        bottom: -0.1em;
        left: 1ch;
        border: 2px solid #9e9e9e;
        border-radius: 10px;
    }
    
    .form-group {
        margin: 0 15px;
    }
    
    .mat-div {
        font-family: $ff-body;
        display: flex;
        height: 47px;
        margin-top: 2.3rem;
        background-color: $clr-bg-input;
        
        .mat-label {
            font-size: $fs-mid;
            font-weight: 400;
            opacity: 0.7;
            pointer-events: none;
            position: absolute;
            transform: translate3d(0, 12px, 0) scale(1);
            transform-origin: left top;
            transition: 240ms;
            padding-left: 2px
        }
        
        .mat-input {
            align-self: flex-end;
            position: relative;
            background: transparent;
            width: 100%;
            border: none;
            outline: none;
            padding: 2px 2px;
            font-size: $fs-mid;
            border-bottom: 5px solid #151515;
            font-family: $ff-body;

            &::-webkit-input-placeholder {
                color: transparent;
                transition: 240ms;
            }
            
            &:valid + label,
            &:focus + label {
                opacity: 1;
                transform: translate3d(0, -32px, 0) scale(0.9);
                font-weight: 800;
            }
        }
    }
}


/*  Thanks to https://codepen.io/MithunPradhan/pen/ayLpob?editors=0100
for mat design
*/

button.btn {
    font-family: $ff-body;
    letter-spacing: 3px;
    font-weight: 500;
    padding: .6rem 5rem;
    width: fit-content;
    background-color: transparent;

    &.btn-outline-primary {
        margin: 49px auto;
        border: 4px solid black;
        font-size: $fs-small;
        transition: 240ms cubic-bezier(0.14, 0.81, 0.25, 1);

        &:hover,
        &:focus {
            font-weight: 600;
            color: $clr-bg-light;
            background-color: $clr-text;
            border: 4px solid #ffffff45;
            outline: 3px solid #d4d4d442;
            outline-offset: -12px;
        }
    }
}

@media (min-width: 525px) {
    
    .home .slider .image--wraper{
        max-height: 460px;
    }
}

@media (min-width: 780px) {
    .home {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        
        .slider .image--wraper {
            height: 500px;
        }
    }

    form {
        margin: 0 auto;
        min-width: 333px;
    }
}