@use 'components' as *;
@use 'abstracts' as *;

.slider {
        font-family: $ff-body;
    &__nav {
        
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        font-size: $fs-mid;
        // padding: 0 1rem;

        span {
            text-align: center;
        }

        .nav-arrow {            
            display: flex;
            gap: 1rem;
            img {
                max-width: 50%;
            }
            &__left {
                justify-content: flex-end;
                img {
                    transform-origin: center center;
                    transform: rotate(180deg);
                }
            }

            div {
            }
        }
    }

    &__items {
        display: flex;
        overflow-x: scroll;
        margin-top: 3rem;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;

        .item {
            display: flex;
            flex-direction: column;
            min-width: 190px;
            max-width: 300px;
            margin: 0 1.2rem;
            background: #f0eeee;
            position: relative;

            img {
                width: 60%;
                height: 100px;
                margin: 0 auto;
            }

            span {
                font-size: $fs-mid;
                text-align: center;
                line-height: 3rem;
            }
        }
    }

    .descriptions {
        background-color: $clr-highlight;
        padding-top: 7rem;
        z-index: -1;
        position: relative;
        margin-top: -90px;

        height: 500px;
        // overflow-y: scroll;

        .old {
            display: none;
        }

        .text {
            padding: 1rem 2rem;
            z-index: 2;
            font-size: $fs-mid;
            height: 333px;
            overflow-y: scroll;

            h4 {
                margin: 0 auto;
                width: fit-content;
                margin-bottom: 1.5rem;
                position: relative;

                &::after {
                    content: '';
                    background-color: white;
                    width: 7ch;
                    height: 3px;
                    position: absolute;
                    left: calc(50% - 4ch);
                    bottom: -2px;
                }

            }
            p {
                max-width: 70ch;
                margin: 0 auto;
                margin-bottom: 1rem;
            }
        }
    }
}