@use '../abstracts' as *;

footer {
    // margin: -1rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: $sx-grid;
    // background-color: $clr-bg-dark);

    
    
    &:after {
        content: '';
        width: 100%;
        height: 140px;
        background: $clr-bg-dark;
        position: relative;
        left: 0;
        right: 0;
        z-index: -1;
        grid-column: 1 / -1;
        grid-row: 1;
    }
    
    .footer__info {
        grid-column: 1 / -1;
        grid-row: 1;
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr;

        width: -webkit-fill-available;
        height: 115px;
        margin: 0px 2rem;
        margin-top: -14px;
        padding: 0;
        background: $clr-bg-light;
        border-radius: 0 0 20px 20px;
        align-items: baseline;
        justify-items: center;
        box-shadow: -1px 12px 10px black;
        
        li {
            list-style-type: none;
            width: min-content;
            text-align: center;
            height: 100px;
            div {
                font-weight: 900;
            }
        }
    }
    
}

@media (max-width: 525px) {
    footer {

        // .nav
        .company_name,
        .copyright {
            display: none;
        }

        .nav {
            display: flex !important;
            grid-column: 1 / -1;
            margin: 0 auto;
        }
    }
}


@media (min-width: 525px) {
    
    footer {
        grid-template-columns: .5fr 1fr 3fr 1fr .5fr;
        grid-template-rows: 80px 125px 80px 125px 20px;
        background-color: white;
        padding-bottom: 3rem;

        &::after {
            height: 81px;
            z-index: 2;
        }

        .company_name,
        .footer__info,
        .copyright {
            display: flex;
            grid-column: 3;
        }

        .footer__info {
            margin-top: 0px;
            box-shadow: none;
        }

        .nav {
            grid-column: 2 / 5;
            grid-row: 2;
            display: inline;
            position: relative;
            padding: 20px 0;
            z-index: 2;
            &::after {
                content: '';
                border-bottom: 2px solid;
                width: 100%;
                position: absolute;
                bottom: 0;
            }

            .nav__links {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 100%;
                justify-items: center;
                align-content: flex-end;
            }
        }

        .company_name {
            font-family: $ff-headers;
            grid-row: 3;
            margin-top: 0;
            align-self: flex-start;
        }

        .footer__info {
            grid-column: 2 / 5;
            grid-row: 4;
            background-color: inherit;
            justify-items: center;
            align-items: baseline;
        }

        .copyright {
            grid-row: 5;
            justify-self: center;
            
        }
    }
}

@media (min-width: 830px) {
    .footer__info {
        grid-column: 3 !important;
    }
}