$clr-icons: #929292;
$clr-text: #000;
$clr-bg-dark: rgb(67,66,66);
$clr-bg-light: #F0EEEE;
$clr-slide-shade: rgba(255, 255, 255, 0.6);
$clr-bg-input: rgba(196, 196, 196, 0.33);
$clr-highlight: #C4C4C4;
$clr-accent: #F89595;