$clr-bg-dark: rgb(67,66,66);
$clr-bg-light: #F0EEEE;
$clr-highlight: #C4C4C4;
$clr-accent: #F89595;

$clr-icons: #929292;
$clr-text: #000;
$clr-slide-shade: rgba(255, 255, 255, 0.6);

$clr-bg-input: rgba(196, 196, 196, 0.33);




$ff-headers: 'Sansita', sans-serif;
$ff-body: 'Saira Condensed', sans-serif;
$ff-date: 'Rakkas', cursive;


$fs-big: 2.62rem; /*  48px */
$fs-mid: 2.2rem; /*  30px */
$fs-mid: 1.5rem; /*  24px */
$fs-small: 1.2rem; /* 18px */

$s-icon: 10px;

$sx-grid:  minmax(3rem, 4rem) 1fr 2fr minmax(3rem, 4rem);

*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: $clr-bg-light;
    line-height: 1.5;
    font-family: sans-serif;
    overflow-x: hidden;
}

.main-grid {
    margin: 1rem auto;
    margin-top: 0;
    max-width: 1600px
}

img {
    max-width: 100%;
}

.company_name {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    margin-top: 1.6rem;
    margin-bottom: .9rem;

    font-size: $fs-mid;
    letter-spacing: 3px;
    line-height: 1.1em;

    position: relative;
    transition: 540ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

    & > div {
        margin: auto;
    }

    .sub {
        display: flex;
        align-items: center;
    }
    
    &__sport {
        width: $s-icon;
        height: $s-icon;
        background-color: $clr-text;
        display: inline-block;
        margin: auto .6rem;
        position: relative;
        top: 2px;
        border-radius: 50%;
    }
}
